/* Challenge 8: Change the type of font to Arial for all elements */
.html{
    font-family:Arial;
}
/* Challenge 9: Change the background color for all elements with a class of banner.  Choose a color
                using rgb( )
*/
*{
    background-color:rgb(0,255,0)
}
/* Challenge 10: Change the background color for all elements with a class of subbanner.  Choose a color
                using a hexdecimal value. 
*/
.html{
     background-color:rgb(0,255,255) ;
}
/* Challenge 11: Change the radius of the border to 6px and height to 200px for all images inside of all 
                 elements with a class of gallery 
*/
.imgs{
    border-radius:6px;
    height: 200px;
}
/* Challenge 12: When the visitor moves their mouse over images inside of the element with an id of firstGallery,
                 apply some type of styling using the filter( ) effect
*/
#firstGallery{
-moz-user-select:hover
filter:grayscale(70%);
}
/* Challenge 13: When the visitor moves their mouse over images inside of the element with an id of secondGallery,
                 apply some other type of styling.
*/
#secondGallery{
  <div style="max-width:200px"> 1 </div>               
}
/* Challenge 14: Change the transition for all elements to 1 second */ 
   *{
    transition:1s;
   }